*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(https://allfont.ru/allfont.css?fonts=exo-regular);
@import url(https://allfont.ru/allfont.css?fonts=exo-medium);
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');

$pink: #ff6d6d;
$lightblack: #282828;
$gray: #717171;
$aboutwhite: #f6f5f3;
$footergray: #868686;
$darkBG: #323969;

$medium:'Exo Medium', arial;
$regular:'Exo Regular', arial;

$thin: 'Exo', sans-serif;


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
}

//header style start

header{
    min-height: 600px;
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;
   
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 600px;

        .header_text{
            max-width: 700px;
            text-align: center;
            font-size: 60px;
            font-family: $thin;
            margin-bottom: 30px;
        }
    
        .video_button{
            width: 80px;
            height: 80px;
            margin-bottom: 35px;
            
            svg{
                width: 100%;
                height: 100%;
                fill: #8286a3;
                cursor: pointer;
            }
        }
    
        .try_now{
            a{
                border: 2px solid $pink;  
                padding: 7px 50px;
                display: inline-block;
                background-color: $pink;
                cursor: pointer;
                text-decoration: none;
                font-family: $thin;
                font-size: 20px;
                color: white;
            }

            margin-bottom: 10px;
        }
    
        .other{
           color: #bbbbbf;
        }
    }
    @media screen and (max-width:213px){
        header{
            width: 600px;
            margin-bottom: 30px;
        }
    
        .header_text{
            font-size: 20px;
        }
      
    }
}

//header style end

//design style start
   .design{
       display: flex;
       justify-content: space-between;
       
       min-height: 500px;
    .design_child{
        max-width: 700px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        .new_design{
            color: $pink;
            font-size: 16px;
            font-family:  $medium;
        }
        
        .title{
            max-width: 450px;
            h3{
                font-size: 35px;
                font-family:  $medium;
                font-weight: 500;
                margin-bottom: 50px;
             span{
                 color: $pink;
             }
            }
        }
        
 
        .about_design{
            max-width: 460px;
            font-size: 14px;
            color: #717171;
            font-family:  $medium;
        }
    }
   .picture{
       max-width: 600px;
      img{
          width: 100%;
          height: 100%;
      }
   }   

   @media screen and (max-width:1024px){
       .picture{
           display: none;
       }
   }

}

//design style end
//feature style start
      .features{
          min-height: 00px;
          max-width: 100%;
          background-repeat: no-repeat; 
          background-size: cover;
          background-position:  center 200%;     
          
          @media screen and (max-width: 321px) {
              min-height: 900px;
        }
            .contant{
                height: 700px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .title{
                  h5{
                      color: $pink;
                      font-family:  $medium;
                      text-align: center;
                      font-weight: 300;
                  }
                  h3{
                      font-family:  $medium;
                      font-size: 40px;
                      font-weight: 300;
                      text-align: center;
                  }
                }
            }
  
            .elements_parent{
                min-height:300px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
             .element{
                 flex-basis: 260px;
                 text-align: center;
  
              img{
                  margin-bottom: 10px;
              }   
  
              h3{
                  font-family:  $medium;
                  font-weight: 300;
                  font-size: 20px;
                  margin-bottom: 8px;
              } 
              
              p{
                  font-family:  $medium;
                  font-size: 13px;
                  color: #939291;
                  line-height: 20px;
              }
  
              }   
            }
        }

//feature style end
//responsive design style start
    .responsive_design{
        min-height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 90%;
     .responsive{
        display: flex;
        height: 700px;
        align-items: center;
        justify-content: center;
     .macbook{
        max-width: 600px;
        max-height: 500px;
        margin-right: 60px;

        @media screen and (max-width: 515px) {
            margin-right: 0;
        }

        img{
            width: 100%;
            height: 100%;
        }
     }
     .about_responsive{
        flex-basis: 450px;

        h5{
            color: $pink;
            font-family:  $medium;
            font-size: 18px;
            font-weight: 300;
            line-height: 40px;
        
            @media screen and (max-width: 515px) {
                    font-size: 16px;
            }
        
        }

        h3{
            font-family:  $medium;
            font-size: 40px;
            font-weight: 300;
            margin-bottom: 40px;

            span{
                color: $pink;
            }
        }

        p{
            color: #717171;
            font-size: 17px;
            line-height: 25px;
        }
     }

  

     }

     @media  screen and (max-width:720px) {
        img{
            display: none;
            margin-right: 0px;
        }
      
      }

     @media  screen and (max-width:700px) {
        .about_responsive{
             h3{
                 font-size: 18px;
             }
        }
      }
    }
//responsive design style end
//clients style start
    .clients{
        min-height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      
      .our_clients_item{
          height: 500px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;
          .our_clients{
              flex-basis: 300px;
              text-align: center;
             
            h3{
                color: #f0f0f1;
                font-weight: 300;
                font-family:  $medium;
            }  
             h5{
                 color: $pink;
                 font-family: $medium;
                 margin-bottom: 25px;
             }
            p{
              color: #838388;
              font-style: italic;
              font-size: 16px;
            }
            .reastangle{
                margin-bottom: 15px;
            }   
        }
      }

    .logos{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .logo{
            filter: brightness(1) invert(1);
            color: white;
        }
    }
    @media screen and (max-width:637px) {
        .logos{
            margin-top: 300px;
        }
    }  
    @media screen and (max-width:320px) {
        .logos{
            margin-top: 400px;
        }
    }  
}
//clients style end
//browser style start
  
  .browser{
      min-height: 600px;
      .title_item{
          display: flex;
          flex-direction: column;
          text-align: center;
          min-height: 300px;
          justify-content: center;
          align-items: center;
          
          .title{
              max-width: 550px;
            h5{
                color: $pink;
            font-family:  $medium;
            font-size: 15px;
            font-weight: 300;
            }      
            h3{
            font-family:  $medium;
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 25px;
            }  
            p{
                font-family:  $medium;
                font-size: 13px;
                color: #939291; 
                line-height: 20px;
            }    
        }
      }
     .browser_img{
         display: flex;
         flex-direction: column;
         align-items: center;
     }
      
    @media screen and (max-width:793px) {
        .browser_img{
            display: none;
        }
        
        .title_item{
            height: 600px;
        }
    } 
    }

//browser style end
//try now style start
   .try_now_form{
       min-height: 500px;
       .try_now_item{
           display: flex;
           flex-direction: column;
           justify-content: center;
           min-height: 500px;
         .title{
            text-align: center;
            margin-bottom: 20px;
            h5{
             color: $pink;
             font-family:  $medium;
             font-size: 14px;
             font-weight: 300;
            }
 
            h3{
             font-family:  $medium;
             font-size: 35px;
             font-weight: 300;
             margin-bottom: 25px;
             color: white;
            }
         }
         form{
           display: flex;
           justify-content:space-evenly;
           flex-wrap: wrap;
           margin-bottom: 30px;
         }
         input{
            margin-bottom: 20px;
            flex-basis: 250px;
            padding: 10px;
            background: #464c77;
            border: 2px solid #999cb4;
        
         &::placeholder{
            color: white;
            padding-left: 10px;
         }  
      
         &[type="submit"]{
          position: relative;
          background-color: $pink;
          border: 2px solid $pink;
         }
           
           } 

        }
        p{
            color: #a8aabc;
            text-align: center;
        }  
    }

//try now style end
//footer style start
    footer{
        min-height: 300px;
        .footer{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-right: 200px;
            min-height: 300px;
            align-items: center;

            @media screen and (max-width:1270px) {
                margin-right: 0;
            }

            @media screen and (max-width:626pxpx) {
                .support{
                    margin-right: 20px;
                }
            }
          .startEX_item{
              display: flex;
              flex-direction: column;
              .startEX{
                  width: 215px;
              p{
                font-size: 14px;
                color: #868686;
              } 
            }
          }
          .support{
              h3{
                 font-family: $medium;
                 font-weight: 300;
                 font-size: 20px;
                 margin-bottom: 10px;
              }
              li{
                  list-style-type: none;
                  font-family: $regular;

                  a{
                      text-decoration: none;
                      color: #717171;
                      line-height: 2;
                      font-size: 14px;

                      &:hover{
                          text-decoration: underline;
                      }
                  }
              }
          }

          .about_us{

            h3{
                font-family: $medium;
                font-weight: 300;
                font-size: 20px;
                margin-bottom: 10px;
            }

              li{
                  list-style-type: none;
                  font-family: $regular;

                  a{
                      line-height: 2;
                      text-decoration: none;
                      color: #717171;
                      font-size: 14px;

                      &:hover{
                          text-decoration: underline;
                      }
                  }
              }
          }
          .newsletter{
              form{
                 input{
                position: relative;
                 border-radius: 4px;
                 margin-bottom: 20px;
                   &[type="email"]{
                       height: 40px;
                       border: 2px solid #b8b8bf;
                    
                       &::placeholder{
                           padding-left: 20px;
                       }
                    }
                 }    
                 button{
                    position: absolute;
                    border: 2px solid $pink;
                    background: $pink;
                    border-radius: 3px;
                    padding: 5px 10px;
                    cursor: pointer;
                    box-shadow:  0px 5px rgba(0,0,0,0.2)           
                } 
            }

             .icons{
                 display: flex;
                 width: 200px;
                 justify-content: space-evenly;            
                 .icon{
                     filter:  grayscale(1);
                 }
             }
            }
    }
}
//footer style end


